body {
    background-color: #FCFCFC;
}
.mat-mdc-cell, .mat-mdc-header-cell, .portal-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300 !important;
}
.mat-mdc-cell {
    color: #031050;
}

.mat-mdc-header-row {
    background: #031050 !important;
}

.mat-mdc-header-cell {
    color: #F8FCFF; 
}

.mat-mdc-row {
    background: #F4F7FE !important;
}

.mat-table{    
    border-radius: 8px;
    overflow:hidden !important;
}

.portal-btn {
    color: #FFF !important;
}