.header {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 13px;
  margin-top: -18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 800px) {
    padding-top: 3rem;
  }

  .right-header {
    line-height: 15px;

    .initials {
      background-color: #aad57e;
      color: #FFF;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      float: left;
      margin-right: 7px;
    }

    .username {
      float: right;
    }
  }

  .left-header {
    flex: 50%;

    @media (max-width: 500px) {
      flex: 100% !important;
    }
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 16px;
    color: #9097B9;
  }
}

.spinner {
  display: block;
  margin: auto;
}

table {
  width: 100%;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 33px;
  text-align: center;

  button {
    margin: 5px;
  }
}

.mat-elevation-z8 {
  width: 100%;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-icon {
  order: 2;
  margin-left: 10px !important;
  margin-right: 0 !important;
}

.mat-portal-btn-bg {
  background: linear-gradient(209.23deg, #aad57e -49.55%, #1da584 82.75%), #aad57e;
}

.date-picker-container {
  display: flex;
  flex: 18%;
  align-items: center;
  gap: 8px;
}

.portal-buttons {
  flex: 50%;

  @media (max-width: 1172px) {
    flex: 100%;
    margin-bottom: 20px;
    text-align: left;
  }
}

@media (max-width: 800px) {
  .date-picker-container, .portal-buttons {
    flex: 100% !important;
  }
}

mat-form-field {
  width: 300px;
}

.datepicker-item {
  color: #031050 !important;
}

.custom-datepicker .mdc-notched-outline {
  display: none !important;
}

.custom-datepicker .mat-mdc-text-field-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.mdc-notched-outline {
  box-shadow: 0px 3px 10px rgba(43, 54, 116, 0.1);
}

.table-container {
  overflow-x: auto;
  border-radius: 9px;
  overflow: hidden;
}

.pagination {
  margin-top: 3rem;
  text-align: center;

  button {
    margin: 0 8px;
    padding: 8px 16px;
    cursor: pointer;
  }

  span {
    margin: 0 8px;
  }
}

.next-icon, .previous-icon {
  cursor: pointer;
  stroke: #1da584;
  fill: #FFF;
  width: 31px;
  height: 31px;

  &.disabled {
    stroke-opacity: 0.5;
  }
}

.previous-icon {
  transform: rotate(180deg);
}

.current-page {
  background: #1da584;
  padding: 2px;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  text-align: center;
  line-height: 31px;
  color: #FFF;
}

.pagination-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

th {
  cursor: pointer;
  user-select: none;
}

button.portal-btn.details-btn.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-purple.mat-mdc-button-base {
  background-color: #1da584;
}

.filter-container {
  display: flex;
  justify-content: flex-start;

  input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid;
    width: 200px;
  }
}

.error-message {
  font-size: 30px;
  color: red;
  text-align: center;
  margin-top: 12rem;
}

.table-container {
  margin-top: 20px;
  padding-bottom: 5rem;
}